.msg-block {
  padding: 10px;
}
.msg-warning {
  background-color: lightyellow;
  border: 1px solid orange;
  border-left: 10px solid orange;
}
.msg-info {
  background-color: #e6f2ff;
  border: 1px solid #0099ff;
  border-left: 10px solid #0099ff;
}
.msg-text-warn {
  text-transform: uppercase;
  font-weight: bold;
  color: darkorange;
}
.msg-text-info {
  text-transform: uppercase;
  font-weight: bold;
  color: #007acc;
}
.msg-imp {
  background-color: #ffe6e6;
  border: 1px solid red;
  border-left: 10px solid red;
}
.msg-text-imp {
  text-transform: uppercase;
  font-weight: bold;
  color: darkred;
}

.code-font {
  font-family: monospace;
}
.code-key {
  color: green;
  font-weight: bold;
}
.code-block {
  margin-left: 20px;
  padding: 10px;
  border-left: 2px solid lightgrey;
}
